<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'weather/styles.css' %}" rel="stylesheet" >
    <title>Weather Update</title>
</head>
   <body>
      <center>
         
         <h2>Enter city name to see weather the forecast</h2>
         <div class="center">
         
         
         
         <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <input type="text" name="location" placeholder="Enter City ">
            <input type="submit" name="search" value="search">		
         </form>
         
         {% if err %}
            <h3>{{err}}</h3>
         {% endif %}
         {% if weather %}
            <h2> Temp in {{city}} is: {{weather.temp}} °C </h2>
            <h3>Humidity : {{weather.humidity}} % </h3>
            <h3>Feels Like : {{weather.feels_like}} °C  </h3>
         {% endif %}
         <br><br>
         <a> Bore? </a><a href="{% url 'bore' %}">Do a random activity</a>
      </div>
        
      </center>
   </body>
</html>