{% extends 'weather/layout.html' %}







    {% block content %}
         <div class="text-center">
            <h1>Weather Forecast</h1>
            <br>
         <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <input type="text" name="location" placeholder="Enter City ">
            <input class="btn btn-primary" type="submit" name="search" value="search" >   
         </form>
         
         {% if err %}
            <h3>{{err}}</h3>
         {% endif %}
         {% if weather %}
            <h3>Temperature in {{city}} is : {{weather.temp}}°C </h3>
            <h4>{{ov}}</h4>
            <figure class="image is-25x25">
               <img src="https://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
           </figure>
            <p>Humidity : {{weather.humidity}} % </p>
            <p>Feels Like : {{weather.feels_like}} °C  </p>
         {% endif %}
         <br>
         <a> Bore? </a><a style="color:black;" href="{% url 'bore' %}"> <u> Do a Random Activity</u></a>
      </div>
        
   

    {% endblock %}
